body
{
   font-family: "Heebo", sans-serif !important;
}
body .container {
    max-width: 1280px;
    
}
h2 {
    font-size: 48px;
    font-weight: 700;
}
.banner-top h2 span {
    background-image: linear-gradient(#FF397C, #FF5A51);
    color: transparent;
    background-clip: text;
}
.left-form h2 span {
    background-image: linear-gradient(#C800CC, #FF397C);
    color: transparent;
    background-clip: text;
}
.contact-btn a {
    background-image: linear-gradient(to right, #E05174, #DE7138);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 9px 20px;
    border-radius: 100px;
}
.header-main ul.navbar-nav li a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    padding: 0 !important;
}
.header-main ul.navbar-nav li a.nav-link img {
    margin-left: 3px;
}
.header-main ul.navbar-nav li {
    margin: 0 11px;
    position: relative;
}
a.navbar-brand {
    padding: 0;
}
.header-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.banner-top {
    padding-top: 140px;
    text-align: center;
    background-image: url("../assets/images/prp-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-bnr
{
  background-image: url("../assets/images/about-bk.png"); 
   padding-bottom: 38px; 
}
.contact-banner
{
   background-image: url("../assets/images/contact.png"); 
   padding-bottom: 38px;  
}
.banner-top h2 {
    max-width: 690px;
    margin: 0 auto;
}
.banner-top p {
    font-size: 20px;
    font-weight: 400;
    max-width: 624px;
    margin: 18px auto;
    line-height: 1.2;
}
a.com-btn {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right, #e05174, #de7138);
    border-radius: 8px;
    padding: 11px 31px;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
}
.banner-top ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 27px;
    margin-top: 28px;
}
.banner-top ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 9px;
}
section.medias-main {
    padding: 60px 0 60px;
      background-image: url("../assets/images/media-bk.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 60px 0;
    background-size: cover;
}
.media-outer-box {
    border: 2px solid #C800CC;
    border-radius: 12px;
    padding: 23px;
}
.media-link {
    text-align: right;
    margin-bottom: 13px;
}
.media-link a {
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(#C837AB, #FF6868);
    background-clip: text;
    color: transparent;
}
.media-outer-box h3 {
    background: linear-gradient(to left, #FE9321, #C800CC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.media-outer-box p {
    color: #000;
    font-size: 18px;
    text-align: center;
}
.media-box {
    border: 1px solid #DE7138;
    border-radius: 8px;
    padding: 19px;
    text-align: right;
    background: #ffffff33;
}
.media-box h4 {
    font-size: 20px;
    font-weight: 500;
}
.media-box h6 {
    font-size: 14px;
    font-weight: 400;
}
.order-bk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0 0;
}
.order-bk a {
    color: #D22222;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
section.section-block {
    padding: 64px 0;
}
section.section-block h6 {
    color: #FF397C;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
section.section-block h2 {
    max-width:830px;
    text-align: center;
    margin: 0 auto;
}
section.section-block h2 span {
    color: #0000;
    background-image: linear-gradient(#ff397c, #ff5a51);
    background-clip: text;
}
section.section-block p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    max-width: 845px;
    margin: 18px auto;
    text-align: center;
    line-height: 1.2;
}
.block-social {
    border: 2px solid #C800CC;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    /* align-items: center; */
    height: 100%;
}
section.section-block .row .col-md-6 {
    margin-bottom: 23px;
}
.block-social h5 {
    font-size: 20px;
    font-weight: 500;
}
.block-social h5 span {
    color: #fff;
    background: #02be97;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    font-size: 18px;
    display: flex;
}
.block-social h5 {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 9px;
    margin: 0;
}
section.section-block .block-social p {
    text-align: right;
    margin: 11px 0 0;
    font-size: 16px;
    font-weight: 400;
}
.block-social h5 span.prp {
    background: #fe62c1;
}
.block-social h5 span.pnk {
    background: #fd264c;
}
.block-social h5 span.org {
    background: #006fff;
}
.image-wrp {
    align-items: center;
    height: 100%;
    display: flex;
    margin-right: 60px;
}
section.section-block ul {
    max-width: 628px;
    margin: 0 auto;
    border-top: 1px solid #F76A0F;
    border-bottom: 0px solid #F76A0F;
    margin-top: 54px;
    padding: 0;
        display: flex
;
    flex-wrap: wrap;
}
section.section-block ul li {
    list-style: none;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #F76A0F;
    padding-bottom: 29px;
    border-right: 1px solid #F76A0F;
    text-align: center;
        line-height: 1.2;
        font-size: 18px;
}
section.section-block ul li:nth-child(2), section.section-block ul li:nth-child(4)
{
    border-right: 0;
}
section.tube-outer {
    padding: 70px 0;
}.tube-outer-right h6, .testo-right h6 {
    color: #FF397C;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
}
.tube-outer-right h2, .testo-right h2 {
    text-align: right;
}
.tube-outer-right h2 span, .testo-right h2 span {
    color: #0000;
    background-image: linear-gradient(#ff397c, #ff5a51);
    background-clip: text;
}
.tube-outer-right p {
    max-width: 356px;
    text-align: right;
    margin-left: auto;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}
.tube-outer-left ul {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 0;
    margin: 0;
}
.tube-outer-left ul li {
    list-style: none;
}
section.tube-outer .container {
    max-width: 1100px;
}
section.testo-secion {
    padding: 70px 0 80px;
}
.testo-left {
    text-align: center;
}
section.testo-secion .accordion-button:not(.collapsed):after {
  background-image: url("../assets/images/up.png");
}
section.testo-secion .accordion-button:after {
      background-image: url("../assets/images/down.png");
          position: absolute;
          right: 0;
}
section.testo-secion .accordion-button:not(.collapsed) {
    background: transparent;
    border: 0;
}

section.testo-secion .accordion-item {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
section.testo-secion .accordion-header button {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}
section.testo-secion .accordion-body p {
    margin: 0;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.testo-right {
    padding-left: 40px;
}
.right-footer {
    text-align: right;
}

.logo-footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 50px 0;
}
.left-footer p {
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    padding-left: 30px;
    margin: 15px 0 0;
    opacity: 01;
}
.ft-btn {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}
.ft-btn a.com-btn {
    font-size: 16px;
    padding: 13px 19px;
}
.ft-btn a.com-btn:first-child {
    background: #fff;
    border: 1px solid #e05174;
    color: #e05174;
}
.footer-nav {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.footer-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    column-gap: 22px;
}
.footer-nav ul li {
    list-style: none;
}
.footer-nav ul li a {
    color: #000;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 6px 19px;
    border-radius: 100px;
    display: inline-block;
}
.copy-right {
    text-align: center;
    padding: 31px 0 20px;
}
.copy-right p {
    margin: 7px 0 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 1.3;
}
.logo-ft {
    background: #fff;
    margin: 0 auto;
    display: table;
    padding: 14px 30px;
    border-radius: 5px;
}
.left-footer a.navbar-brand {
    background: #fff;
    display: inline-block;
    padding: 4px 3px;
    border-radius: 10px;
}
.testo-right.about-desc p {
    font-size: 18px;
    text-align: right;
    font-weight: 400;
}
.testo-right.about-desc h2 {
    margin-bottom: 21px;
}
section.about-points {
    padding: 50px 0 100px;
}
.about-box .row {
    margin: 0;
}
.about-box .col-md-6 {
    padding: 0;
}
.about-inner {
    border: 1px solid #F76A0F;
    border-left: 0;
    border-bottom: 0;
    text-align: right;
    padding: 25px;
}
.about-inner h5 {
    margin: -31px -49px -28px 0;
    font-size: 22px;
    font-weight: 500;
}
.about-box {
    max-width: 1060px;
    margin: 0 auto;
    border-bottom: 1px solid #F76A0F;
}
.about-box .col-md-6:nth-child(2) .about-inner, .about-box .col-md-6:nth-child(4) .about-inner {
    border-right: 0;
}
.about-inner p {
    text-align: right;
    min-height: 76px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 75px;
}
.left-form {
    padding-right: 200px;
}
.left-form h2 {
    text-align: right;
    font-size: 44px;
}
.left-form p {
    text-align: right;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 38px;
}
.left-form ul {
    padding: 0;
    margin: 0;
}
.left-form li {
    border: 2px solid #DE7138;
    border-radius: 12px;
    margin-bottom: 18px;
    padding: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-form li h5 {
    font-size: 22px;
    font-weight: 500;
}
.left-form li h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
section.contact-sec {
    padding: 40px 0 90px;
}
.right-form {
    text-align: right;
}

.right-form {
    text-align: right;
    border: 1px solid #0000002b;
    padding: 25px;
    border-radius: 12px;
}
.right-form h4 {
    color: #0000;
    background-image: linear-gradient(#c800cc, #ff397c);
    background-clip: text;
    font-size: 28px;
    font-weight: 700;
}
.right-form p {
    font-size: 20px;
    font-weight: 400;
}
.right-form form {
    padding-top: 20px;
}
.right-form form .formGroup {
    position: relative;
    margin-bottom: 20px;
}
.right-form form .formGroup label {
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    padding-bottom: 2px;
}
.right-form form .formGroup input {
    height: 55px;
    width: 100%;
    border-radius: 100px;
    text-align: right;
    padding-right: 55px;
    border: 1px solid #00000033;
}
.right-form form .formGroup span {
    position: absolute;
    top: 50px;
    right: 22px;
}
.right-form form .formGroup textarea {
    border: 1px solid #00000033;
    width: 100%;
    height: 206px;
    text-align: right;
    border-radius: 12px;
    padding: 15px 55px 0 0;
}
.right-form form .formGroup input[type="submit"] {
    color: #fff;
    background-image: linear-gradient(to right, #e05174, #de7138);
    border-radius: 100px;
    padding: 9px 20px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    height: 42px;
    border: 0;
    width: auto;
    margin-top: 14px;
}
.no-image {
    background: no-repeat;
    position: relative;
  
}
.no-image img
{
      pointer-events: none;
}
.tab-white ul li.grad-bk span {
    background-image: linear-gradient(to right, #C800CC, #DE7138);
    color: #fff;
}
.no-image img.banar-bk {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.insta-bnr h2 span {
    background: linear-gradient(to left, #DE7138, #C800CC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-top h2 img {
    margin-right: 12px;
}
.insta-bnr.banner-top p {
    max-width: 684px;
}
.buy-insta-bk {
    max-width: 716px;
    margin: 0 auto;
    padding: 60px 40px 40px;
        background-image: url("../assets/images/instabg.png");
    background-position: top center;
    background-repeat: no-repeat;
       background-size: 109% 100%;
}
.facebook-buy .buy-insta-bk {
      background-image: url("../assets/images/fb-bg.png");

}

.spund-cloud-buy .buy-insta-bk
{
     background-image: url("../assets/images/buy-cloud-bk.png");
}
.youtube-buy .buy-insta-bk
{
     background-image: url("../assets/images/you-bk.png");
}
.buy-insta-bk nav .nav.nav-tabs .nav-link {
    background: #f8f2ff;
    border: 1px solid #0000001c;
    position: relative;
    z-index: 1;
    top: 1px;
    min-width: 158px;
    border-bottom: 0;
    margin-right: 20px;
    border-radius: 16px 16px 0 0;
    color: #fff;
    background-image: linear-gradient(to right, #C5A1FF, #6DA5FF);
    line-height: 1.1;
    font-size: 18px;
    padding: 19px 13px;
}
.buy-insta-bk nav .nav.nav-tabs .nav-link.active {
    background: #f8f2ff;
    color: #000;
}
.buy-insta-bk nav .nav.nav-tabs .nav-link span {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    font-size: 10px;
    background-image: linear-gradient(to right, #c800cc, #de7138);
    margin: 0 auto;
    display: table;
    padding: 4px 10px;
    border-radius: 100px;
}
.tabing-folower {
    background: #9747ff12;
    border: 1px solid #0000001c;
    border-radius: 0px 12px 12px 12px;
    box-shadow: 0 0 10px 1px #9747ff42;
    padding: 20px;
}
.tab-white {
    background: #fff;
    border: 1px solid #DE7138;
    border-radius: 10px;
}
.count-flowr {
    border: 1px solid #0000001a;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
    max-width: 235px;
    margin: 36px auto;
    padding: 6px;
    display: flex;
}
.count-flowr label {
    font-size: 24px;
    font-weight: 400;
}
.count-flowr span {
    width: 36px;
    height: 36px;
    background: #fff;
    box-shadow: 0 0 10px 1px #9747ff96;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DE7138;
    cursor: pointer;
    font-size: 25px;
    background: linear-gradient(to left, #de7138, #c800cc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.tab-white ul {
    padding: 0 31px 25px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    border-bottom: 1px solid #0000007d;
    margin-bottom: 25px;
}
.tab-white ul li {
    width: 31%;
    list-style: none;
}
.tab-white ul li {
    border-radius: 12px;
    border: 1px solid #00000054;
    text-align: center;
    overflow: hidden;
}
.tab-white ul li span {
    font-size: 36px;
    font-weight: 700;
    background: #ededed;
    width: 100%;
    border-bottom: 1px solid #00000054;
    display: table;
    padding: 10px 0 8px;
}
.tab-white ul h6 {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0 16px;
    margin: 0;
}
.tab-white ul li.grad-test h6 {
    background: linear-gradient(to left, rgb(222, 113, 56), rgb(200, 0, 204)) text;
    -webkit-text-fill-color: transparent;
}       
.folow-btn {
    justify-content: space-between;
    align-items: center;
    padding: 0 121px 29px;
    display: flex;
}
.header-main .container {
    max-width: 1370px;
}
.folow-btn label {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.folow-btn a {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(224, 81, 116), rgb(222, 113, 56));
    border-radius: 100px;
    padding: 9px 20px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.folower-list {
    max-width: 636px;
    margin: 45px auto 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.buyer-tab {
    padding: 20px 0 40px;
}
.coount-prp span {
    font-size: 18px;
    font-weight: 400;
}
.coount-prp {
    text-align: right;
}
.coount-prp h6 {
    color: #C800CC;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.right-insta-detial {
    text-align: right;
}
.right-insta-detial .ft-btn a:last-child {
    background-image: linear-gradient(to right, #FF5A51, #C800CC);
}
section.our-packinner-outer {
    padding: 60px 0 30px;
}
section.our-packinner-outer h3 {
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 26px;
}
section.our-packinner-outer h3 span {
    background: linear-gradient(to left, #de7138, #c800cc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.our-packinner h6 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
.pack-white {
    background: #fff;
    border-radius: 14px;
    padding: 10px;
}
.doted-pack {
    border: 1px dashed #ddd;
    border-radius: 16px;
    padding: 24px 20px 20px;
}
.pack-head span {
    background-image: linear-gradient(to right, #ff5a51, #c800cc);
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    border-radius: 100px;
    padding: 3px 6px;
}
.pack-head h5 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}
.left-count-pack {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 16px;
}
.left-count-pack h4 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    display: none;
}
.left-count-pack h4 span {
    opacity: 0.4;
}
.in-dec span {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 1px #ddd;
    border-radius: 100px;
    color: #DE7138;
    font-size: 22px;
}
.in-dec {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    min-width: 185px;
    justify-content: space-between;
}
.in-dec label {
    font-size: 24px;
    font-weight: 400;
}
.pack-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0 5px 20px;
}
.pack-btn h4 {
    font-size: 28px;
    font-weight: 700;
}
.pack-btn h4 span {
    opacity: 0.5;
    font-weight: 400;
    text-decoration: line-through;
}
.pack-btn a {
    background-image: linear-gradient(to right, #ff5a51c9, #c800cccc);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 8px 28px;
    border-radius: 8px;
}
.our-packinner {
    background: linear-gradient(#ff5930 9%, #fff 50% 100%);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 6px 1px #ddd;
    margin-bottom: 25px;
}
.our-packinner.red {
    background: #FB3E43;
    background: linear-gradient(180deg,rgba(251, 62, 67, 1) 9%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
.our-packinner.pink {
    background: #FF2181;
    background: linear-gradient(180deg,rgba(255, 33, 129, 1) 9%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
.our-packinner.org {
    background: #FF7C38;
    background: linear-gradient(180deg,rgba(255, 124, 56, 1) 9%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
.our-packinner.prp-light {
    background: #E1306C;
    background: linear-gradient(180deg,rgba(225, 48, 108, 1) 9%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
.our-packinner.prp-dark {
    background: #C13584;
    background: linear-gradient(180deg,rgba(193, 53, 132, 1) 9%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
.our-packinner.purple {
    background: #833AB4;
    background: linear-gradient(180deg,rgba(131, 58, 180, 1) 9%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}
section.about-points h3 {
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 26px;
}
section.about-points h3 span {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left, #de7138, #c800cc);
    -webkit-background-clip: text;
}
section.tetxo {
    text-align: right;
}
section.tetxo h2 span {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left, #de7138, #c800cc);
    -webkit-background-clip: text;
}
section.tetxo p {
    font-size: 18px;
    font-weight: 400;
}
section.tetxo p a {
    color: #6DA5FF;
    text-decoration: none;
}
.tetxo-inner {
    border-radius: 16px;
    margin-bottom: 5px;
    padding: 20px;
    box-shadow: 0 2px 8px 3px #dddddd7d;
    height: 100%;
}
section.tetxo .row {
    row-gap: 27px;
}
.tetxo-dec p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.tetxo-dec p b {
    font-size: 20px;
}
.tetxo-dec p a {
    color: #6DA5FF;
    text-decoration: underline !important;
}
.tetxo-img h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}
.tetxo-img img {
    margin: -33px -32px -32px 0;
}
section.tetxo p.extra-para {
    margin-bottom: 60px;
}
.tetxo-inner h3 {
    font-size: 24px;
    font-weight: 700;
}
.tetxo-inner ul li {
    width: 50%;
    list-style: none;
    padding: 5px 0;
}
.tetxo-inner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.tetxo-inner ul li a {
    color: #6DA5FF;
    font-size: 16px;
    text-decoration: none;
}
section.tetxo .tetxo-inner p {
    font-size: 16px;
    margin: 0;
}
.tetxo-inner img {
    margin: -42px -43px -39px 0;
}
section.tetxo {
    text-align: right;
    padding-bottom: 100px;
}
.right-insta-detial.youtube-right h2 span, section.youtube-pack h3 span, section.youtube-pack h2 span {
    background: linear-gradient(to left, #FF0000, #FF4D4D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right-insta-detial.youtube-right .ft-btn a:last-child {
    background-image: linear-gradient(to right, #FF0000, #FF4D4D);
}
.our-packinner.tube-red-dark {
    background: linear-gradient(#CC0000 9%, #fff 50% 100%);
}
.our-packinner.tube-red-med
{
     background: linear-gradient(#FF0000 9%, #fff 50% 100%);
}
.our-packinner.tube-red-light
{
    background: linear-gradient(#FB3E43 9%, #fff 50% 100%);
}
.pack-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 24px;
}
.our-packinner.youtube-box .pack-head span, .our-packinner.youtube-box .pack-btn a {
    background-image: linear-gradient(to right, red, #ff4d4d);
}
.right-insta-detial.facebook-right h2 span, section.facebook-pack h3 span, section.tetxo.facebook-pack h2 span {
    background: linear-gradient(to left, #145DBF, #3B91F7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right-insta-detial.facebook-right .ft-btn a {
    border-color: #1877F2;
    color: #1877F2;
}
.right-insta-detial.facebook-right .ft-btn a:last-child, .facebook-box .pack-head span, .facebook-box .pack-btn a {
    background-image: linear-gradient(to right, #145DBF, #3B91F7);
    color: #fff;
}
.our-packinner.facebook-box.facebook-red-dark {
    background: linear-gradient(#145DBF 9%, #fff 50% 100%);
}
.our-packinner.facebook-box.facebook-red-med
{
background: linear-gradient(#1877F2 9%, #fff 50% 100%);
}
.our-packinner.facebook-box.facebook-red-light
{
background: linear-gradient(#3B91F7 9%, #fff 50% 100%);
}
section.tetxo h5 {
    font-size: 24px;
    font-weight: 600;
    margin: -30px 0 29px;
}

.right-insta-detial.cloud-right h2 span, section.cloud-pack h2 span, section.cloud-pack h3 span {
    background: linear-gradient(to left, #E04900, #FF764A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.right-insta-detial.cloud-right .ft-btn a {
    border-color: #FF5500;
    color: #FF5500;
}
.right-insta-detial.cloud-right .ft-btn a:last-child, .cloud-box .pack-head span, .cloud-box .pack-btn a {
    background-image: linear-gradient(to right, #E04900, #FF764A);
    color: #fff;
}
.our-packinner.cloud-box.cloud-red-dark {
    background: linear-gradient(#E04900 9%, #fff 50% 100%);
}
.our-packinner.cloud-box.cloud-red-med {
    background: linear-gradient(#FF5500 9%, #fff 50% 100%);
}
.our-packinner.cloud-box.cloud-red-light {
    background: linear-gradient(#FF764A 9%, #fff 50% 100%);
}
.banner-top.insta-bnr.cloud-right h2 span, .spund-cloud-buy .tab-white ul li.grad-test h6 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left, #e04900, #ff764a);
    -webkit-background-clip: text;
}
section.buyer-tab.spund-cloud-buy .nav.nav-tabs .nav-link span, .spund-cloud-buy .tab-white ul li.grad-bk span {
    color: #fff;
    background-image: linear-gradient(to right, #e04900, #ff764a);
}
.spund-cloud-buy .tabing-folower {
    background: #e87b400d;
}
.spund-cloud-buy .buy-insta-bk nav .nav.nav-tabs .nav-link.active
{
    background: #fef8f5;
}
.banner-top.insta-bnr.facebook-right h2 span, .facebook-buy .tab-white ul li.grad-test h6 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left, #145dbf, #3b91f7);
    -webkit-background-clip: text;
}
section.buyer-tab.facebook-buy .nav.nav-tabs .nav-link span, .facebook-buy .tab-white ul li.grad-bk span {
    color: #fff;
    background-image: linear-gradient(to right, #145dbf, #3b91f7);
}
.facebook-buy .tabing-folower {
    background: #0866ff1a;
}
.facebook-buy .buy-insta-bk nav .nav.nav-tabs .nav-link.active {
    background: #e6efff;
}
.banner-top.insta-bnr.youtube-right h2 span, .youtube-buy .tab-white ul li.grad-test h6 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to left, red, #ff4d4d);
    -webkit-background-clip: text;
}
.youtube-buy .buy-insta-bk nav .nav.nav-tabs .nav-link span, .youtube-buy .tab-white ul li.grad-bk span {
    background-image: linear-gradient(to right, red, #ff4d4d);
}
.youtube-buy .tabing-folower {
    background: #d2222224;
}
.youtube-buy .buy-insta-bk nav .nav.nav-tabs .nav-link.active {
    background: #f9e0e0;
}
.payemnt-left h4 {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
    padding-bottom: 17px;
    font-size: 24px;
    font-weight: 700;
}
.payemnt-left h4 span {
    border: 1px solid #C706CD;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 100px;
}

.payemnt-left ul {
    padding: 15px 0 0;
    margin: 0;
}
.payemnt-left ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    border-bottom: 1px solid #ddd;
    padding: 18px 0;
}
.payemnt-left ul li span {
    font-size: 20px;
    font-weight: 500;
}
.payemnt-left ul li h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.payemnt-left ul li h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
section.paemt-main-sec {
    padding: 40px 0 80px;
}
.payemnt-left ul li span.price {
    color: #C800CC;
}
.paybtn {
    text-align: right;
    margin-top: 32px;
}
.paybtn a {
    background-image: linear-gradient(to right, #ff5a51, #c800cc);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 29px;
    display: inline-block;
    border-radius: 8px;
}
.payemnt-right {
    border: 1px solid #DE7138;
    border-radius: 12px;
    padding: 24px;
}
.payemnt-right h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
    color: #C800CC;
    font-weight: 700;
}
.payemnt-right h4 span {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.5;
    color: #000;
}
.payemnt-right .formgroup {
    position: relative;
    margin-bottom: 27px;
}
.payemnt-right .formgroup label {
    text-align: right;
    width: 100%;
    padding-bottom: 3px;
    font-size: 22px;
    font-weight: 500;
    min-height: 29px;
}
.payemnt-right .formgroup input {
    height: 45px;
    width: 100%;
    border-radius: 100px;
    text-align: right;
    padding: 0 20px;
    border: 1px solid #ddd;
    padding-right: 45px;
}
.alert-data {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    column-gap: 15px;
    margin: 14px 0 10px;
}
.alert-data h5 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.alert-data p {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}
.payemnt-right .formgroup.no-pad input {
    padding-right: 4px;
}
.payemnt-left {
    padding-right: 15px;
}
.payemnt-right .formgroup span {
    position: absolute;
    top: 44px;
    right: 13px;
}
.payemnt-right .formgroup.payemt-field {
    display: flex;
    align-items: flex-end;
    column-gap: 12px;
}
.payemnt-right .formgroup.payemt-field .pay-lohgo {
    padding-bottom: 7px;
}
.payemnt-modal .modal-header button {
    position: absolute;
    left: 13px;
    color: #000;
    top: 18px;
    opacity: 1;
}
.payemnt-modal .modal-header {
    border: 0;
}
.payment-nav {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin: 8px 0 0;
    padding: 0 15px;
}
.payment-nav span {
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
}
.pay-border {
    border: 1px solid #ddd;
    max-width: 452px;
    margin: 41px auto 12px;
    padding: 22px;
    border-radius: 15px;
}
.payment-user-name h5 {
    font-size: 18px;
    text-align: right;
    font-weight: 400;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 17px;
}
.payemt-name-holder {
    padding-bottom: 18px;
    padding-top: 18px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
}
.payemt-name-holder h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}
.payemt-name-holder h6 {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}
.payemt-cards h5 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 17px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
}
.payemt-cards ul {
    padding: 0;
    margin: 0;
    text-align: right;
    border-bottom: 1px solid #ddd;
    padding-bottom: 17px;
}
.payemt-cards ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
}
.all-pay-link p {
    text-align: right;
    padding: 16px 0 8px;
    font-size: 18px;
    font-weight: 400;
}
.step-count {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    height: 48px;
    border-radius: 100px;
    padding: 6px;
    width: 100%;
    justify-content: space-between;
}
.payemnt-modal .modal-dialog {
    max-width: 655px;
    border: 0;
}
.left-step-count {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 14px;
    color: #00000085;
}
.right-step-count {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
a.pay-btn {
    border: 1px solid #ddd;
    width: 100%;
    display: flex;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    column-gap: 13px;
    margin: 12px 0;
    background-image: linear-gradient(to right, #ff5a51, #c800cc);
}
.media-view ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 14px;
    flex-wrap: wrap;
}
.media-view ul li {
    list-style: none;
    position: relative;
}
.upload-docs {
    border: 1px solid #ddd;
    border-radius: 13px;
    padding: 22px;
    max-width: 90%;
    margin: 32px auto 14px;
}
.upload-doc-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.media-view ul li img.chk {
    position: absolute;
    right: -3px;
    top: -3px;
}
a.payment-btn {
    border: 1px solid #ddd;
    width: 100%;
    display: flex;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    column-gap: 13px;
    background-image: linear-gradient(to right, #e05174, #de7138);
}
.banner-top.blog-banners {
    padding-bottom: 60px;
}
.left-box {
    text-align: right;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 19px;
    background: #fff;
}
.left-box h4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    column-gap: 10px;
    margin-bottom: 15px;
}

.left-box .form-group {
    position: relative;
}
.left-box .form-group input {
    height: 42px;
    border-radius: 100px;
    width: 100%;
    padding: 0 12px;
    border: 1px solid #ddd;
    font-size: 16px;
    text-align: right;
}
.left-box .form-group span button {
    border: 0;
    padding: 0;
    background: transparent;
    outline: none;
}
.left-box .form-group span {
    position: absolute;
    left: 4px;
    top: 4px;
}
.left-box ul {
    padding: 0;
    margin: 0;
}
.left-box ul li {
    list-style: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3px 0;
    gap: 9px;
    font-weight: 500;
}
.left-box .tags {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;
    flex-wrap: wrap;
}
.left-box .tags span {
    background: #E4E4E4;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 100px;
}
.right-blog {
    padding-left: 13px;
}
.blog-card {
    border: 1px solid #c2c2c2;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 25px;
}
.imagr-card {
    position: relative;
}
.imagr-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.imagr-card span {
    background: #fff;
    position: absolute;
    bottom: 7px;
    right: 5px;
    color: #C800CC;
    border-radius: 100px;
    font-size: 13px;
    padding: 3px 10px;
}
.blog-card h4 {
    text-align: right;
    font-size: 16px;
    color: #FF397C;
    padding: 17px 5px 0;
}
.blog-card h5 {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}
.blog-card p {
    text-align: right;
    font-size: 14px;
    opacity: 0.8;
    margin: 0 0 5px;
}
.blog-card a {
    font-size: 18px;
    color: #C800CC;
    text-decoration: none;
    text-align: right;
    margin-left: auto;
    width: 100%;
    display: table;
}
section.blog-outer {
    padding-bottom: 50px;
}
.banner-top.bog-detail {
    padding-bottom: 200px;
}
section.blog-outer.blog-desc {
    text-align: right;
    margin-top: -150px;
    padding-bottom: 10px;
}
.blog-detail-right h6 {
    font-size: 16px;
    color: #FF397C;
}
.blog-detail-right h6 span {
    color: #000000;
}
.blog-detail-right h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 21px;
}
.blog-detail-right img {
    width: 100%;
    border-radius: 13px;
    height: 430px;
    object-fit: cover;
    margin-bottom: 20px;
}
.blog-detail-right p {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 13px;
}
.blog-detail-right h5 {
    font-size: 24px;
    margin-bottom: 12px;
    opacity: 0.8;
}
section.simmilar-pro {
    text-align: right;
    padding-bottom: 60px;
}
section.simmilar-pro h3 {
    font-size: 24px;
    margin-bottom: 15px;
    opacity: 0.8;
}
.txt-field label {
    font-size: 13px;
    width: 100%;
    text-align: right;
    opacity: 0.6;
    padding-bottom: 4px;
}
.txt-field textarea {
    width: 100%;
    height: 41px;
    border: 0;
    background: #EBE9E9;
    border-radius: 8px;
    resize: none;
    text-align: right;
    font-size: 14px;
    padding: 10px 14px 0;
}
footer {
    background: #337df7;
}
.left-footer {
    text-align: right;
    color: #fff;
}
.left-footer ul {
    padding: 0;
    margin: 0;
}
.left-footer ul li {
    list-style: none;
    margin-bottom: 8px;
}
.left-footer ul li a {
    color: #fff;
    opacity: 1;
    border-bottom: 1px dashed;
    text-decoration: none;
}
.accordion-item .accordion-body {
    padding-right: 0;
}
.header-main ul.navbar-nav li:hover ul.dropdown-menu {
    text-align: right;
    border: 0;
    padding: 18px 0;
    display: block;
    left: initial;
    right: 0;
    transform: translate(0);
    min-width: 249px;
}
.header-main ul.navbar-nav li:hover ul.dropdown-menu li a {
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-main ul.navbar-nav li:hover ul.dropdown-menu li {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 5px 16px;
}
.header-main ul.navbar-nav li:hover ul.dropdown-menu li a img {
    max-width: 18px;
    height: auto;
    margin-left: 14px;
}
.header-main ul.navbar-nav li:hover ul.dropdown-menu li:last-child
{
    border: 0;
}
section.section-block h6, section.section-block h2, section.section-block p {
    text-align: right;
    margin-right: initial;
    margin-left: auto;
    
}
section.section-block .row {
    margin-top: 40px;
}
.contact-btn.cart-tb {
    position: relative;
}
span.cart-count {
    background: #a356d6;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 100px;
    position: absolute;
    top: -2px;
    right: -12px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
}